/* Write your code here. */
.background {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
  font-family: "Bree Serif";
}

.like-btn {
  background-color: #eab308;
  color: #ffffff;
  border-style: none;
  border-radius: 8px;
  width: 60px;
  height: 25px;
}

.comment-btn {
  background-color: #ffffff;
  color: #323f4b;
  border-style: none;
  border-radius: 8px;
  width: 80px;
  height: 25px;
  margin: 10px;
}

.share-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  border-style: none;
  border-radius: 8px;
  width: 60px;
  height: 25px;
}
